body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: #d0021b;
}

.nav {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px black solid;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}


/* General commonly used styles */
.border {
  border-width: 1px;
  border-style: solid;
}

/* Store */
.container-store {
  padding: 15px 15px;
}

#review-text {
  margin-bottom: 15px;
}

#review-container {
  height: 500px;
}

/* Store Rating */
.rating {
  display: inline-block;
}

.rating:not(:checked) > div > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > div > label {
  float:right;
  width:1.28em;
  margin: 0px 0.25em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > div > label:before {
  content: '★ ';
}

.rating > div > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > div > label:hover,
.rating:not(:checked) > div > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > div > input:checked + label:hover,
.rating > div > input:checked + label:hover ~ label,
.rating > div > input:checked ~ label:hover,
.rating > div > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > div >label:active {
  position:relative;
  top:2px;
  left:2px;
}


/* Store Map */
#store-map {
  width: 300px;
  height: 300px;
}

/* Seller Admin */
