body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  background: #2B2B2B;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
  margin-left: 15px;
}


/* General commonly used styles */
.border {
  border-width: 1px;
  border-style: solid;
}

/* Store */
#review-text {
  margin-bottom: 15px;
}

#review-container {
  height: 500px;
}

/* Store Rating */
.rating-item {
  padding: 15px;
  margin: 2px;
}

.rating-item:hover {
  background: yellow
}